// Background #7C7F77 / #595758
@import "mixinMedia";
@import "fontsize";

html,body{
    margin:0;
    padding:0;
    width:100vw;
    font-family: "Bree Serif", serif;
    font-size: 16px;
    background-color: #585954;
}

header{
    box-shadow: 5px 5px 5px 2px;
    width: 90%;
    margin:1em auto 1em auto; //center
    text-align: center;
    padding:5px 0;
    p{
        // font-size: 1.563em;
        @include fluid-type(400px, 1200px, 20px, 30px);
    }
    h1{
        font-size: 1.953em;
        @include fluid-type(400px, 1200px, 40px, 60px);
                
    }
}
img{
    width:100vw;
}


//TIMELINE------------------------------------------------------

.timeline{
    margin: 0 10%;
    box-shadow: 5px 5px 5px 2px;
    
    @include display(){
        margin-top: 3em;
        margin-right:0;
        
    }

    h2{
        text-align: center;
        padding-top: 1em;

        @include display(){
            padding-top: 0;
            
        }
        
    }
    p{
        margin:0;
    }

    &__item{
        border-top: 1px solid black;
        align-items: center;
        padding:1em;
        display:flex;
        flex-direction: row;

        &--desc{
            padding-left: 1em;
        }
    }
}


//Biography------------------------------------------------------
.biography{
    margin: 3em 10%;
    box-shadow: 5px 5px 5px 2px;

    @include display(){
        height:min-content;
    }


    h3{
        text-align: center;
        padding-top: 1em;

        @include display(){
            padding-top:0;
        }
    }
    p{
        margin:0;
    }

    
    &__item{
        border-top: 1px solid black;
        align-items: center;
        display:grid;
        grid-template-columns: 20% 1fr;
        padding:1em;

        &--desc{
            padding-left: 1.3em;
        }
    }
}


@media (min-width:750px){

    main{

        margin-bottom: 3em;
        display:grid;
        grid-template-columns: 1fr 1fr;
    }

}
